.usedContainer {
  height: 480px;
  & > div {
    width: 33.33%;
    float: left;
  }
  .quad {
    img {
      width: 50%;
      margin-bottom: -1%;
    }
  }
}
.left {
  float: left;
  h2 {
    font-size: 36px;
    font-weight: 900;
    padding-right: 20px;
    display: inline;
  }
  img {
    width: 120px;
  }
  p {
    font-size: 16px;
    a {
      text-decoration: underline;
    }
  }
  .info {
    height: 100px;
    margin-top: 20px;
    font-size: 16px;
    & > div {
      float: left;
      border-right: 1px solid #c8cacb;
      height: 48px;
      width: auto;
      padding-right: 12px;
      margin-right: 12px;
      p {
        color: #959899;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  em {
    color: #959899;
    font-size: 12px;
  }
}
.right {
  float: right;
  text-align: right;
  .carButton {
    font-size: 16px;
    text-align: left;
    width: 200px;
    height: 48px;
    background-color: #323639;
    color: #fff;
    padding: 11px 21px;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 60px;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: #000;
    }
    i {
      padding-right: 10px;
      font-size: 20px;
    }
  }
}
.side-nav {
  text-align: left;
  position: fixed;
  right: -820px;
  top: 0;
  width: 820px;
  height: 100%;
  background: #fff;
  // transition: all 0.3s ease-in-out;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  &.on {
    right: 0px;
  }
  h2 {
    font-size: 36px;
    font-weight: 900;
  }
  p {
    font-size: 18px;
  }
  i {
    padding: 20px;
    float: right;
  }
  .bottom {
    padding: 20px;
    background: #f2f2f2;
    height: 100%;
    h2 {
      font-size: 24px;
      font-weight: 900;
    }
    p {
      font-size: 16px;
    }
  }
}

// form section
.usedCarForm {
  .formGroup {
    margin-top: 16px;
    select {
      width: 226px;
      height: 48px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    input {
      width: 453px;
      height: 48px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    .question {
      color: #fff;
      font-size: 16px;
      background-color: #d5001c;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
