@import url("https://unpkg.com/swiper/swiper-bundle.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

@font-face {
  font-family: "PorscheNextWLa";
  /* src: url("../fonts/PorscheNextWLa-Bold.ttf"); */
  src: url("./fonts/PorscheNextWLa-Regular.ttf");
}

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #d5001c;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: "PorscheNextWLa", AppleSDGothicNeo-Regular, "Malgun Gothic",
    "맑은 고딕", dotum, "돋움", sans-serif;
  color: #222;
  font-size: 13px;
  line-height: 1.5;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  font-weight: normal;
}

/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

/* 버튼 초기화 */
button {
  border: 0;
}

/* 반응형 */
video,
img {
  width: 100%;
}

/* clearfix */
/*
블록구조는 한 영역을 차지한다. 즉 오른쪽에 누가 오는걸 싫어한다. (인라인과 반대)
그래서 float쓰지만 치명적인 약점이 있다.
=> float을 사용한 상위 박스(감싸고 있는 박스)의 height값이 0으로 설정된다. 영역이 사라져버린다.
이것을 해결하기 위한 방법은 4가지가있다. 이 중에 하나가 clearfix이다.
*/
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.row {
  padding: 0 28px;
}

.swiper-container {
  height: 100%;
}
